<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<header class="headr" id="header">
    <div class="title" id="home_title"><img src="/images/title.jpg"/></div>
    <div class="classily" id="classily"></div>
    <a href="/about"><div class="about">关 于 </div></a>
    <div class="tag" id="home_tag">
        <ul>
            <a href="/index"><li>首页</li></a>
            <a href="/tagone"><li>技术篇</li></a>
            <a href="/tagtwo"><li>心情篇</li></a>
            <a href="/tagthree"><li>感悟篇</li></a>
            <a href="/tagfour"><li>生活篇</li></a>
            <a href="/tagfive"><li>其他篇</li></a>
        </ul>
    </div>
    <div class="first_bg" id="firstBg">
        <img src="/images/firstbg.png" width="100%"height=100%/>
    </div>

<script type="text/javascript" src="/javascripts/style.js"></script>
<script type="text/javascript" src="/javascripts/move.js"></script>
<script>
    var oFirstbg = document.getElementById('firstBg');
    oFirstbg.addEventListener("click",function () {
        window.location='/index';
    })
</script>
</body>
</html>