<%- include header %>
<div class="login" style="background-image:url(/images/bg2.jpg)">
	<form method="post">
	 <ul>
	     <li><span>用户名：</span><input type="text" name="name"/></li><br />
	     <li><span>密码：  </span><input type="password" name="password"/></li><br />
		 <li> <input id="sub1" type="submit" value="登录"/><li>
	 </ul>
	</form>
</div>

<%- include foot %>