<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header class="headr" id="header">
    <div class="title" id="home_title"><img src="/images/title.jpg"/></div>
    <a href="/about" ><div class="about">关 于</div></a>
    <div class="classily" id="classily">
    </div>
    <div class="tag" id="home_tag">
        <ul>
            <a href="/index"><li>首页</li></a>
            <a href="/tagone"><li>技术篇</li></a>
            <a href="/tagtwo"><li>心情篇</li></a>
            <a href="/tagthree"><li>感悟篇</li></a>
            <a href="/tagfour"><li>生活篇</li></a>
            <a href="/tagfive"><li>其他篇</li></a>
        </ul>
    </div>
</header>
<div id="body">
    <main>